

@media (max-width: 768px) {
    .container-product-card {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .container-product-card img {
        width: 100px;
        margin: 0 auto;
    }
}