// Global Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    margin: 0;
    padding-bottom: 100px; 
    // background: url(../../assets/fondo/6416.jpg)
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

// Footer Styles
.footer {

    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    //padding: 20px;
    text-align: center;
    font-style: italic;

}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
}


.main-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    min-height: calc(100vh - 200px); // Ajusta el espacio para el footer y otras áreas
    
    aside.left-column {
        flex: 1;
        margin-right: 20px;
    }

    section {
        flex: 3;
    }
}


.menu-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
}
